{% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body %}


    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(contactForm) }}

    <h1>Contact Us</h1>

    {{ form_start(contactForm) }}

    {{ form_end(contactForm) }}

{% endblock %}